<%- include("templates/header") %>
    <!-- admin.ejs -->
    <h1>Admin Page</h1>
    <ul>
        <% users.forEach(function(user) { %>
            <li>
                <%= user.name %>
            </li>
            <li>
                <%= user.email %>
            </li>
            <!-- Display user type -->
            <li>
                <%= user.type %>
            </li>
            <!-- Add buttons/links for promoting and demoting -->
            <% if (user.type==='admin' ) { %>
                <li><a href="/admin/demote/<%= user.id %>">Demote</a></li>
                <% } else { %>
                    <li><a href="/admin/promote/<%= user.id %>">Promote</a></li>
                    <% } %>
                        <% }) %>
    </ul>

    <%- include("templates/footer") %>